#header{
	margin-top: 6em;
}

#intro{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin-bottom: -1.2em;
}

h1 {
    font-size: 4.5em;
    font-family:'Raleway', 'Helvetica', 'Arial', sans-serif;
	text-align: center;
}

nav{
	margin-top: 5em;
	text-align: center;
}

nav ul{
    padding: 0px;
    list-style: none;
}    

nav ul div{
    display: inline-block;
	margin-left: 4em;
    margin-right: 4em;
	width:14em;
	height: 5em;
	border: 0.1em solid #33ffad;
}

nav ul div:hover{
	background-color: #33ffad;
}

nav ul div li{
	line-height: 2.1em;
	font-size: 2.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

a{
	text-decoration: none;
	color: #000000;
}

img{
	length: 2em;
	width: 2em;
	opacity: 0.4;
	margin: auto;
	margin-top:1.5em;
	display:block;
}

img:hover{
	opacity: 0.8;
}

p{
	text-align:center;
	margin-left:10%;
	margin-right:10%;
	margin-top: 2em;
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1080px) {
		nav ul div{
		display: inline-block;
		margin-left: 0em;
		margin-right: 0em;
		width:14em;
		height: 5em;
		border: 0.1em solid #33ffad;
	}

	nav ul div:hover{
		background-color: #33ffad;
	}
}
