.center{
	margin: auto;
}

#header{
	margin-top: 6em;
}

#intro{
	text-align: center;
	font-family: 'Lobster', cursive;
	font-size: 2em;
	margin-bottom: -1.2em;
}

h1 {
	font-size: 4.5em;
    	font-family:'Raleway', 'Helvetica', 'Arial', sans-serif;
	text-align: center;
}

nav{
	margin-top: 5em;
	text-align: center;
}

nav ul{
	font-family:'Helvetica', 'Arial', sans-serif;
    	padding: 0px;
    	list-style: none;
	font-weight: bold;
}    

nav ul div{
    	display: inline-block;
	margin-left: 8em;
    	margin-right: 8em;
	width:14em;
	height: 5em;
	border: 0.1em solid #33ffad;
}

nav ul div:hover{
    	display: inline-block;
	margin-left: 8em;
    	margin-right: 8em;
	width:14em;
	height: 5em;
	background-color: #33ffad;
}

nav ul div li{
	line-height: 2.1em;
	font-size: 2.5em;	
	font-family: Raleway;
}

a{
	text-decoration: none;
	color: #000000;
}
